[submodule "IE/libbhohelper"]
	path = IE/libbhohelper
	url = https://github.com/salsita/libbhohelper.git
	ignore = dirty
[submodule "IE/Magpie"]
	path = IE/Magpie
	url = https://github.com/salsita/Magpie.git
	ignore = dirty
[submodule "IE/libprothandlers"]
	path = IE/libprothandlers
	url = https://github.com/salsita/libprothandlers.git
	ignore = dirty
[submodule "IE/passthruapp"]
	path = IE/passthruapp
	url = https://github.com/salsita/passthruapp.git
	ignore = dirty
